@import "normalize";
@import "mixins";

body {
    background-color: #fff;
    color: #333;
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    @include clearfix;
    max-width: 1000px;
    margin: 0 auto;
}

.masthead {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;

    &__title {
        float: left;
        font-size: 14px;
        line-height: 40px;
        margin: 0;
        padding-left: 40px;

        a {
            text-decoration: none;
            color: #333;
        }
    }
}

.playlist {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border: 0;
    padding-bottom: 80px;

    &__row {

    }
}

.song {
    @include clearfix;
    border-bottom: 1px solid #eee;
    transition: opacity .2s ease;
    cursor: default;
    display: flex;
    position: relative;

    &:hover,
    &:focus {
        background-color: #eee;

        .song__play-button {
            opacity: 1;
        }
    }

    &--loading {
        opacity: .25;
        pointer-events: none;
    }
    
    .ion-pause {
        display: none;
    }

    &--playing {

        .ion-play {
            display: none;
        }

        .ion-pause {
            display: block;
        }
    }

    &__cell {
        line-height: 40px;
        float: left;
        font-size: 14px;
        margin: 0;
        padding: 0 10px;
        position: relative;
        z-index: 2;
    }

    &__play {
        flex: 0 0 auto;
        width: 40px;
        padding: 0;
    }

    &__play-button {
        background-color: transparent;
        border: 0;
        padding: 0;
        margin: 0;
        width: 40px;
        line-height: 20px;
        padding: 10px 0;
        opacity: 0;
        cursor: pointer;
        transition: opacity .2s ease;
    }

    &__title {
        font-weight: 600;
        width: 100%;
        flex: 1 1 auto;
        padding-left: 0;
    }

    &__user {
        flex: 0 0 auto;
        width: 200px;
    }
    
    &__duration {
        flex: 0 0 auto;
        padding-right: 40px;
        text-align: right;
        width: 100px;
    }

    &__progress {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #add8e6;
        z-index: 1;
    }
}