<div class="playlist">
    <song ng-repeat="song in playlist track by song.id" class="song playlist__row" ng-class="{'song--playing': song.playing}">
        <div class="song__play song__cell">
            <button class="song__play-button song__hover song__cell">
                <i class="ion-play"></i>
                <i class="ion-pause"></i>
            </button>
        </div>
        <div class="song__title song__cell">{{song.title}}</div>
        <div class="song__user song__cell"><a href="{{song.user.permalink_url}}">{{song.user.username}}</a></div>
        <div class="song__duration song__cell">{{song.duration | duration}}</div>
        <div class="song__progress" style="width: {{ song.progress }}%"></div>
    </song>
</div>