// VARIABLES

$px: 8px !default;

// RESET

* {
    box-sizing: border-box;
}

button {
    font-family: inherit;
}

body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    margin: 0;
}

// SPACING
@for $i from 0 through 8 {

    .p-#{$i} {
        padding: $px * $i !important;
    }

    .pb-#{$i} {
        padding-bottom: $px * $i !important;
    }

    .pt-#{$i} {
        padding-top: $px * $i !important;
    }

    .pl-#{$i} {
        padding-left: $px * $i !important;
    }

    .pr-#{$i} {
        padding-right: $px * $i !important;
    }

    .m-#{$i} {
        margin: $px * $i !important;
    }

    .mb-#{$i} {
        margin-bottom: $px * $i !important;
    }

    .mt-#{$i} {
        margin-top: $px * $i !important;
    }

    .ml-#{$i} {
        margin-left: $px * $i !important;
    }

    .mr-#{$i} {
        margin-right: $px * $i !important;
    }
}

// TEXT ALIGNMENT
.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

// DISPLAY
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}

.d-inline {
    display: inline;
}

.d-none {
    display: none;
}

.d-flex {
    display: none;
}

// POSITION
.pf {
    position: fixed;
}

.pa {
    position: absolute;
}

// FONT WEIGHT
.fw400 {
    font-weight: 400;
}

.t0 {
    top: 0;
}

.l0 {
    left: 0;
}

.intro {
	text-align: center;
	line-height: 100vh;
	margin: 0;
}